.category-main-div{
    width: 100%;
    /*height: 100%;*/
}
.category-main-div > img{
    width: 100%;
    height: 100%;
}
.main-div{
    position: relative;
    text-align: center;
}
.central-div{
    position: absolute;
    top:10%;
    width: 100vw;
    /*left: 2%;*/
    color:white;
    height: 70%;
    text-align: center;
    /*margin-left: calc();*/
}
.image-wrapper{
    width: 95%;
    margin: auto;
}
/*.questionList > img{*/
/*    width: 58px;*/
/*}*/
.image-wrapper > img{
    width: 58px;
}
.questionList{
    height: 100%;
    overflow: scroll!important;
    text-align: left;
    width: 100%;
    margin: auto;
    /*margin-left: ;*/
}
.questionsCount{
    color:aqua;
    margin: 10px 0;
}
/*#bottom-btn{*/
/*    background: url('../../assets/variant/olympics/button_background.svg')*/
/*    no-repeat center center fixed !important;*/
/*    background-size: cover;*/
/*background-position: 100px 5px;*/
/*}*/
.button-div{
    width: 95%;
    position:absolute;
    margin: auto;
    left: 1%;
    text-align: center;
    bottom: 2%;
}
.button-inner-div{
    width: 100%;
    margin: 0 auto;
}
/*.button-div{*/
/*    position:absolute;*/
/*    !* left: 120px; *!*/
/*    bottom: 30px;*/
/*    text-align: center;*/
/*}*/
/*.button-inner-div{*/
/*    margin-left: auto;*/
/*}*/
