<div class="main-div">
    <div>
        <Header :title="headerTitle" :showBackButton="showHeaderBackButton"/>
        <div class="category-main-div">
            <img :src="backgroundImage"/>
            <div class="central-div">
                <div class="questionsCount">{{completedQuestionsCount}}/{{totalQuestionsCount}}</div>
                <div class="questionList">
                    <img v-for="question of questions" :src="questionListIcon(question)" @click="()=>goToQuiz(question.id)"/>
<!--                    <img v-for="question in 15" :src="questionAnsweredIcon" @click="()=>goToQuiz(1)"/>-->
<!--                    <img v-for="question in 15" :src="chosenIcon"/>-->
<!--                    <img v-for="question in 15" :src="notChosenIcon"/>-->
                </div>
            </div>
        </div>
    </div>
    <div class="button-div">
        <div class="button-inner-div">
            <BottomButton :button-label="BottomButtonLabel"/>
        </div>
    </div>
</div>
