<div class="main-div">
    <div>
        <Header :title="headerTitle" :showBackButton="showHeaderBackButton"/>
        <div class="category-main-div">
            <img :src="backgroundImage"/>
            <div class="central-div">
                <div class="questionsCount">{{completedQuestionsCount}}/{{totalQuestionsCount}}</div>
                <img v-for="question in 10" :src="questionAnsweredIcon"/>
                <img v-for="question in 10" :src="choosenIcon"/>
                <img v-for="question in 10" :src="notChoosenIcon"/>
            </div>
        </div>
    </div>
    <div class="button-div">
        <div class="button-inner-div">
            <BottomButton :button-label="BottomButtonLabel"/>
        </div>
    </div>
</div>
