<div class="main-div">
    <div>
        <Header :title="headerTitle" :showBackButton="showHeaderBackButton"/>
        <div class="category-main-div">
            <img :src="backgroundImage"/>
            <div class="central-div" v-if="sortedCategories">
                <VueSlickCarousel
                        v-bind="carouselSettings"
                        @afterChange="afterChange"
                >
                    <div v-for="category in sortedCategories" class="category-item-box" @click="()=>goToQuestionList(category.id)">
                        <div class="category-name">{{category.title}}</div>
                        <img :src="category.id===currentCategory ? category.chosen_icon : category.not_chosen_icon">
                        <div class="questionsCount">{{completedQuestionsCount}}/{{category.questions.length}}</div>
                    </div>
                </VueSlickCarousel>
            </div>
        </div>
    </div>
    <div class="button-div">
        <div class="button-inner-div">
            <BottomButton button-label="Start" @click="bottomBtnClick"/>
        </div>
    </div>
</div>
