<div class="main-div">
    <div>
        <Header :title="headerTitle" :showBackButton="showHeaderBackButton"/>
        <div class="category-main-div">
            <img :src="backgroundImage"/>
            <div class="sound-btns">
                <div class="sound">
                    <img v-if="isSoundOn"
                         src="../../assets/variant/olympics/sound_on.svg"
                         @click="()=>toggleSound(false)"/>
                    <img v-else
                         src="../../assets/variant/olympics/sound_off.svg"
                         @click="()=>toggleSound(true)"/>
                </div>
                <div class="sound">
                    <img v-if="isMusicOn"
                         src="../../assets/variant/olympics/music_on.svg"
                         @click="()=>toggleBackgroundMusic(false)"/>
                    <img v-else
                         src="../../assets/variant/olympics/music_off.svg"
                         @click="()=>toggleBackgroundMusic(true)" />
                </div>
            </div>
            <div class="central-div" v-if="sortedCategories">
                <VueSlickCarousel
                        v-bind="carouselSettings"
                        @afterChange="afterChange"
                >
                    <div v-for="category in sortedCategories"
                         :class="{'category-item-box-large':category.id===currentCategory,'category-item-box-small':category.id!==currentCategory}"
                         @click="()=>goToQuestionList(category.id)">
                        <div class="category-name">{{category.title}}</div>
                        <img :src="category.id===currentCategory ? category.chosen_icon : category.not_chosen_icon">
                        <div class="questionsCount">{{completedQuestionsCount(category)}}/{{category.questions.length}}</div>
                    </div>
                </VueSlickCarousel>
            </div>
        </div>
    </div>
    <div class="button-div">
        <div class="button-inner-div">
            <BottomButton button-label="Start" @click="bottomBtnClick"/>
        </div>
    </div>
</div>
