.category-main-div{
    width: 100%;
    height: 100%;
}
.category-main-div img{
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-div{
    position: relative;
    text-align: center;
}
.central-div{
    position: absolute;
    top: 30%;
    width: 100vw;
    height: 300px;
    color:white
}
.category-item-box-large{
    height: 250px;
    width: 150px;
    text-align: center;
}
.category-item-box-small{
    position: relative;
    top: 25px;
    height: 150px;
    width: 150px;
    text-align: center;
}
.category-item-box-large > img{
    position: relative;
    top:0;
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
}
.category-item-box-large > div{
    position: relative;
    top: 0;
    left: 0;
}
.category-item-box-small > img{
    position: relative;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
}
.category-item-box-small > div{
    position: relative;
    /*top: calc( 50% - 100px );*/
    top: 0;
    left: 0;
}
.questionsCount{
    color:aqua
}
.button-div{
    width: 95%;
    position:absolute;
    margin: auto;
    left: 1%;
    text-align: center;
    bottom: 2%;
}
.button-inner-div{
    width: 100%;
    margin: auto;
}
