.bottom-btn-div{
    width: 85%;
    height: 30px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background: url('../../assets/variant/button_background1.png') no-repeat;
    background-size: cover;
}
.bottom-btn-middle-div{
    padding: 5% 0 0 10%;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: normal;
}
