.bottom-btn-div{
    width: 250px;
    height: 48px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background-image: url('../../assets/variant/olympics/button_background.svg');
    background-repeat: no-repeat;
    background-position: 0 -17px;
    background-size: cover;
}
.bottom-btn-middle-div{
    padding: 6px 0 0 10px;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: normal;
}
