.bottom-btn-div{
    width: 85%;
    height: 30px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background-image: url('../../assets/variant/olympics/button_background.svg');
    background-repeat: no-repeat;
    background-position: 0px -17px;
    background-size: cover;
}
.bottom-btn-middle-div{
    padding: 3% 0 0 10%;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: normal;
}
