<div class="main-div">
    <div>
        <Header :title="headerTitle" :showBackButton="showHeaderBackButton"/>
        <div class="category-main-div">
            <img :src="backgroundImage"/>
            <div class="central-div">
                <div class="questionImgDiv">
                    <img v-if="questionType === 'image'" :src="questionImage">
                    <div v-else class="textQuestion">
                        <div class="content">
                            {{questionTitle}}
                        </div>
                    </div>
                </div>
                <div v-if="questionType === 'image'" class="questionsCount">{{questionTitle}}</div>
                <div class="answerBox">
                    <span class="answerBlock" v-for="blockIndex in (letterBlock||[]).length">
                        <LetterBox
                                v-for='index in letterBlock[blockIndex-1]'
                                :letter="typedAnswer[blockIndex-1][index-1]"
                                :border="letterBoxBorderType"
                        />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="button-div">
        <h3 v-if="quizOver" class="gameOverText">
            {{gameOverText}}
        </h3>
        <div class="button-inner-div">
            <BottomButton :button-label="BottomButtonLabel" @click="clearAnswer"/>
        </div>
        <div class="optionBox" v-if="!quizOver">
            <LetterBox v-for='letter in shuffledAnswer.slice(0,9)' @click="typeAnswer" :letter="letter"/>
            <br/>
            <LetterBox v-for='letter in shuffledAnswer.slice(9)' @click="typeAnswer" :letter="letter"/>
        </div>
    </div>

    <!-- <style>
        :root {
          --image-color: {{ accentColor }};
          --hero-image: url('{{ heroImage }}');
        }
      </style> -->
</div>
