#bottom-btn{
    background: url('../../assets/variant/button_background.svg')
    no-repeat center center fixed !important;
    background-size: cover;
}
.category-main-div{
    width: 100%;
    height: 100%;
}
.category-main-div > img{
    width: 100%;
    height: 100%;
}
.main-div{
    overflow: hidden;
    position: relative;
    text-align: center;
}
.button-div{
    position:absolute;
    left: 1%;
    text-align: center;
    bottom: 2%;
}
.button-inner-div{
    width: 50%;
    margin: auto;
}
.button-div > .optionBox{
    margin: 5% 0;
}
.central-div{
    position: absolute;
    top:50px;
    color:white
}
.central-div > .questionImgDiv{
    text-align: center;
    /*border: 6px solid transparent;*/
    /*border-image:url('../../assets/variant/dialog_border.svg') 5 stretch;*/
}
.central-div > .questionImgDiv > img{
    width: 95%;
    border: 6px solid transparent;
    border-image:url('../../assets/variant/dialog_border.svg') 5 stretch;
}
.textQuestion{
    font-size: 20px;
    padding: 3%;
    width: 95%;
    margin: auto;
    border: 6px solid transparent;
    border-image:url('../../assets/variant/dialog_border.svg') 2 stretch;
}
.questionsCount{
    color:aqua;
    margin: 10px 0;
}
.answerBox{
    margin: 2% 3%;
}
.answerBlock{
    margin: 2% 5%;
}
