.header-main-div{
    background: url("../../assets/variant/olympics/title_background.svg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 50px;
    text-align: center;
    color: aqua;
    position: relative;
}
.back-icon{
    position: relative;
    top:0;
    /*top:5%;*/
    left: 1%;
    width: 35px;
    height: 100%;
    /*display: inline-block;*/
    float: left;
}
.back-icon>img{
    margin-top: calc(50% - 13px);
}
.header-title-div{
    padding-top: 12px;
    /*display: inline-block;*/
    text-align: center;
    /*float: left;*/
}
.header-divider{
    background: url("../../assets/variant/olympics/divider_background.svg") no-repeat;
    background-size: cover;
    height: 7px;
    text-align: center;
    color: aqua;
    position: relative;
    top:9px;
    /*bottom: 0;*/
}
